<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         id="WebApp_ID" version="3.0">

  <display-name>Archetype Created Web Application</display-name>


  <!--
  This is reading xml file present inside
  /WEB-INF/applicationContext.xml

  By default its applicationContext otherwise it will use specified below


  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>/WEB-INF/spring-root-application-context.xml</param-value>
  </context-param> -->

  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>




<!-- It will look for spring-product-servlet.xml here we need to specify where controller is -->

  <servlet>
    <servlet-name>spring-product</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>WEB-INF/spring-web-context.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet-mapping>
    <servlet-name>spring-product</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>

</web-app>

